$background-color: rgb(2, 10, 34);
$background-color-dark: #020a22;
$background-gradient: radial-gradient(
  50% 60% at 50% 0%,
  rgb(33, 54, 107) 0%,
  rgba(0, 72, 255, 0) 100%
);

$gold-gradient: (315deg, rgb(182, 164, 119) 0%, rgb(247, 218, 145) 100%);
$gold: #ffe9ad;
$gold-dark: rgb(188, 171, 123);
