@mixin font-h1 {
  font-family: "Libre Baskerville", serif;
  color: $gold;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 800;
}
@mixin font-h1-Tangerine {
  font-family: "Tangerine", cursive;
  line-height: 0.9;
  font-size: 56px;
  color: $gold;
  font-weight: 400;
  text-align: center;
  justify-content: center;
}
@mixin font-h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 2rem;
  color: #fff;
}
@mixin font-h3 {
  font-weight: 300;
  font-size: 18px;
  color: $gold-dark;
}
@mixin font-p {
  color: #ffffffd7;
  font-size: 14px;
  font-weight: 200;
  font-size: 18px;
}
@mixin font-p-calender {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
  color: $gold-dark;
  font-weight: 600;
  @include respond(small-phone, landscape) {
    font-size: 7rem;
  }
  @include respond(medium-phone, landscape) {
    font-size: 7rem;
  }
  @include respond(large-phone, portrait) {
    font-size: 7rem;
  }
  @include respond(large-phone, landscape) {
    font-size: 7rem;
  }
  @include respond(tablet, portrait) {
    font-size: 7rem;
  }
  @include respond(tablet, portrait) {
    font-size: 7rem;
  }
  @include respond(desktop) {
    font-size: 7rem;
  }
}

@mixin btn($color-1, $color-2, $text-color) {
  cursor: pointer;
  -webkit-box-shadow: inset -17px -9px 41px 10px rgba(255, 251, 251, 0.08);
  box-shadow: inset -17px -9px 41px 10px rgba(255, 251, 251, 0.05);
  background-color: $color-1;
  margin: 0.5rem;
  border: none;
  color: $text-color;
  padding: 1rem 1.2rem;
  border-radius: 9px;
  text-decoration: none;
  &:hover {
    background-color: $color-2;
  }
}
