<div
  [ngClass]="{ 'home-container-bigScreen': !isSmallScreen }"
  id="home"
  class="home-container"
>
  <app-sparkle></app-sparkle>
  <div>
    <h1>Adventsfenster-Gruppe</h1>
  </div>
  <div>
    <p>
      Die Adventsfenster-Gruppe ist eine freiwillige Gemeinschaft bestehend aus
      Einwohnern der Gemeinde Bottenwil, die bereits seit
      <strong> 25 Jahren </strong>
      existiert. Ihr Ziel ist es, ganz Bottenwil mit schön gestalteten
      Adventsfenstern zu erfreuen und bei Anlässen zusammen zu bringen.
    </p>
    <div class="buttons">
      <button class="btn share-button" [matMenuTriggerFor]="shareMenu">
        Teile die Freude
      </button>
      <mat-menu #shareMenu="matMenu">
        <button mat-menu-item (click)="shareOnFacebook()">Facebook</button>
        <button mat-menu-item (click)="shareOnTwitter()">Twitter</button>
        <button mat-menu-item (click)="shareOnWhatsApp()">WhatsApp</button>
        <!-- Add more social media options as needed -->
      </mat-menu>
      <a class="btn btn-a" (click)="handleLinkClick('contact')">
        Sage uns Hallo
      </a>
    </div>
  </div>

  <div class="sponsor-container">
    <h3>unsere Sponsoren</h3>

    <a
      target="_blank"
      href="{{ sponsorenLinks[currentSponsorIndex] }}"
      class="sponsor-image"
    >
      <img
        [ngClass]="{ 'sponsor-image-img-bigScreen': !isSmallScreen }"
        class="sponsor-image-img"
        [src]="sponsorenUrls[currentSponsorIndex]"
        alt=""
      />
    </a>
  </div>
</div>
