<div id="infos" class="infos">
  <app-sparkle></app-sparkle>
  <h1>Aktuelles</h1>
  <h3>25. Adventsfenster-Anlass mit bessinliche Weihnachtsmusik</h3>
  <p>
    Auch dieses Jahr möchte die Adventsfenster-Gruppe zusammen mit dem
    Musikverein Bottenwil zu einer stimmungsvollen Feier einladen.
  </p>
  <p>
    Am 19. Dezember verwöhnt uns der Musikverein ab 19:30 Uhr im Pausenplatz der
    Turnhalle mit besinnlicher Musik. bereits ab 19 Uhr mit Kuchen, Gebäck,
    Salziges, Glühwein, Tee und Kaffee.
  </p>
  <p>Für das leibliche Wohl sorgt die Adventsfenster-Gruppe</p>
  <p>
    Wir heißen Sie alle zu einem fröhlichen Beisammensein willkommen und
    <strong>
      wünschen Ihnen ein frohes Weihnachtsfest und ein gutes neues Jahr!
    </strong>
  </p>

  <h3>Wir suchen neue Gruppenmitglieder</h3>
  <p>
    Die Adventsfenster-Gruppe ist immer auf der Suche nach neuen Mitgliedern.
  </p>

  <p>
    Wenn Sie Weihnachten lieben und Ihre Heimatstadt zu Weihnachten im besten
    Licht sehen möchten, wenn Sie sich einfach an der Vorbereitung unserer
    mittlerweile traditionellen Weihnachtsfeiern beteiligen möchten oder wenn
    Sie unser kleines Team in irgendeiner Weise unterstützen möchten, dann
    melden Sie sich bitte mit dem unten stehenden Formular.
  </p>
</div>
