<form (submit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      placeholder="Name"
      [(ngModel)]="formData.name"
      name="name"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="email"
      placeholder="Email"
      [(ngModel)]="formData.email"
      name="email"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Message"
      [(ngModel)]="formData.message"
      name="message"
      required
    ></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
