<div class="contact-container" id="contact">
  <h2>Wir freuen uns über jedes Feedback</h2>
  <p>Setzen Sie sich mit uns über das Kontaktformular in Verbindung.</p>
  <app-sparkle></app-sparkle>
  <form (submit)="onSubmit()">
    <mat-form-field>
      <input
        class="input-element"
        matInput
        placeholder="Name"
        [(ngModel)]="formData.name"
        name="name"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <input
        class="input-element"
        matInput
        type="email"
        placeholder="Email"
        [(ngModel)]="formData.email"
        name="email"
        required
      />
    </mat-form-field>

    <mat-form-field>
      <textarea
        class="input-element"
        class="input-element"
        matInput
        placeholder="Nachricht"
        [(ngModel)]="formData.message"
        name="message"
        required
      ></textarea>
    </mat-form-field>

    <button class="btn" type="submit">Senden</button>
    <div *ngIf="status">
      <p *ngIf="sent">
        Vielen Dank für Ihre Nachricht! Wir werden uns in Kürze bei Ihnen
        melden.
      </p>
      <p *ngIf="notSent">
        Beim Senden der Nachricht ist ein Fehler aufgetreten. Bitte versuchen
        Sie es erneut.
      </p>
    </div>
  </form>
</div>
