<mat-card class="countdown">
  <mat-card-content>
    <h3>
      Wiederum möchten wir Sie mit unseren Adventsfenstern erfreuen. Ab dem 1.
      Dezember öffnen wir in Bottenwil jeden Tag ein Adventsfenster. Die Fenster
      werden bis um mit dem 06. Januar jeweils von 17-22 Uhr beleuchtet sein.
    </h3>

    <h2>
      Freuen Sie sich schon auf die Weihnachtszeit? Wir zählen schon die Tage...
    </h2>
    <div class="countdown-container">
      <div
        class="countdown-element"
        [ngClass]="{ 'countdown-element-bigScreen': !isSmallScreen }"
      >
        <i></i>
        <p>{{ days }}</p>
        <div class="span" [ngClass]="{ 'span-bigScreen': !isSmallScreen }">
          <span [ngClass]="{ bigScreen: !isSmallScreen }">Tage</span>
        </div>
      </div>
      <div
        class="countdown-element"
        [ngClass]="{ 'countdown-element-bigScreen': !isSmallScreen }"
      >
        <i></i>
        <p>{{ hours }}</p>
        <div class="span" [ngClass]="{ 'span-bigScreen': !isSmallScreen }">
          <span [ngClass]="{ bigScreen: !isSmallScreen }">Stunden</span>
        </div>
      </div>
      <div
        class="countdown-element"
        [ngClass]="{ 'countdown-element-bigScreen': !isSmallScreen }"
      >
        <i></i>
        <p>{{ minutes }}</p>
        <div class="span" [ngClass]="{ 'span-bigScreen': !isSmallScreen }">
          <span [ngClass]="{ bigScreen: !isSmallScreen }">Minuten</span>
        </div>
      </div>
      <div
        class="countdown-element"
        [ngClass]="{ 'countdown-element-bigScreen': !isSmallScreen }"
      >
        <i></i>
        <p>{{ seconds }}</p>
        <div class="span" [ngClass]="{ 'span-bigScreen': !isSmallScreen }">
          <span [ngClass]="{ bigScreen: !isSmallScreen }">Sekunden</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
