@import "../../../styles.scss";
.countdown {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  padding: 1rem 0rem;
  box-shadow: none;
}
h3,
h2 {
  @include font-p;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}
.countdown-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 1rem;
}
.countdown-element {
  border: 0.1px solid rgba(20, 30, 57, 0.649);
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  -webkit-box-shadow: inset -17px -9px 41px 10px rgba(255, 251, 251, 0.08);
  box-shadow: inset -17px -9px 41px 10px rgba(255, 251, 251, 0.05);
  color: $gold;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  width: 9rem;
  height: 9rem;
  border-radius: 12px;
  justify-content: space-between;
  align-content: space-between;
  &-bigScreen {
    width: 12rem;
    height: 12rem;
    // padding: 3rem;
    margin: 1rem;
  }
}

p {
  display: flex;
  justify-content: center;
  align-content: center;
  @include font-p-calender;
}

.span {
  display: flex;
  justify-content: center;
  color: #2b2c2d;
  font-weight: 800;
  transform: translateY(50%);
  & span {
    background: $gold;
    padding: 0.5rem 1.5rem;
    border-radius: 9px;
  }

  & .bigScreen {
    padding: 1rem 2.5rem;
  }
}
